body {
  font-family: Poppins;
  color: var(--pageColor);
}
a[funxtime="page.link"] {
  color: #0084ff;
  text-decoration: none;
  transition: color 1s;
}
a[funxtime="page.link"]:hover {
  color: #004280;
}
h1 {
  font-size: 69px;
}
h2 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 15px;
}